.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.env.local
dist/
build/
*.egg-info/
.poetry/
.ruff_cache/
.pytest_cache/
pet_analysis.db
chroma_db/*
!chroma_db/.gitkeep
data/*
!data/.gitkeep
upload/*
!upload/.gitkeep
